In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

# Windows Users

In [2]:
 executable_path = {'executable_path': 'chromedriver.exe'}
 browser = Browser('chrome', **executable_path, headless=False)

    # initiate a dictionary to store all scraped data
mars_data = {}
    # Initialize browser
    #browser = init_browser()

    # Visit the nasa mars site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

    # Scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

    # Find the latest news title and content
    # NASA Mars News
title = soup.find_all('div', class_='content_title')
news_title = title[0].a.text
content = soup.find_all('div', class_='article_teaser_body')
news_p = content[0].text

    #add key:value pair to dictionary
mars_data['news_title'] = news_title
mars_data['news_content'] = news_p

    
    # JPL Mars Space Images - Featured Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
article = soup.find('article', class_='carousel_item')
href = article['style'].replace("background-image: url('","").replace("');","").strip()
url = 'https://www.jpl.nasa.gov'
featured_image_url  = url +  href

    #add key:value pair to dictionary
mars_data['featured_image_url'] = featured_image_url

    # Mars Weather
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

div = soup.find_all('div', class_='js-tweet-text-container')
para = div[0].find('p')
mars_weather = para.text

    #add key:value pair to dictionary
mars_data['mars_weather'] = mars_weather

# Mars Facts  (using pandas to read in table)

    

url = "http://space-facts.com/mars/"
tables = pd.read_html(url)

df = tables[0]

df.columns = ['Profile', 'Value']
df['Profile'] = df['Profile'].str.replace(":", "")

i = 0
dataset = []

while i < len(df):
        datarow = {}
        datarow['Profile'] = df['Profile'][i]
        datarow['Value'] = df['Value'][i]
        dataset.append(datarow)
        i += 1

# add key:value [list of dictionary of 2 columns of data]
mars_data['table'] = dataset


    
#df.columns = ['Mass Planet Profile', 'Value']
#html_table = df.to_html()
#html_table = html_table.replace('\n', '')
    #df.to_html('mars_profile.html')

    #add key:value pair to dictionary
#mars_data['mars_fact'] = html_table
    # Mars Hemispheres

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

#for x in range(1,5):
    
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

div = soup.find_all('div', class_='description')
links = []
targeturl = 'https://astrogeology.usgs.gov'
for d in div:
        h = d.find('a')
        link = targeturl + h['href']
        links.append(link)
    #print(link)

hemisphere_image_urls = []

img_url = {}

for x in range(4):
        dict = {}
    #print(links[x])
        browser.visit(links[x])
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
    
        h2 = soup.find('h2', class_='title')
        div = soup.find('div', class_='downloads')
        img_urls = div.find_all('a')
    #print(h2.text.replace('Enhanced', ''))
    #print(img_urls[2]['href'])
        dict['title']= h2.text.replace('Enhanced', '')
        dict['img_url'] = img_urls[0]['href']
        hemisphere_image_urls.append(dict)

#add key:value [list of dictionary] pair to dictionary
mars_data['hemisphere_image_urls'] = hemisphere_image_urls

    # Get the max temp
    #max_temp = forecast_today.find("span", class_="temp-max").text

    # Print the min temp
    #min_temp = forecast_today.find("span", class_="temp-min").text

    # Get current time stamp
    #time_stamp = str(datetime.now())

    # Store in dictionary
    #weather = {
    #    "time": time_stamp,
    #    "name": "Costa Rica",
    #    "title":charttitle
    #}

    # Return results
mars_data

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
#html = browser.html
#soup = BeautifulSoup(html, 'html.parser')
#soup

In [4]:


html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#    quotes = soup.find_all('div', class_='content_title')
#    i = 0
#    for quote in quotes:
#        a = quote.find('a')
#        i += 1
#        print(str(i) + ' - ' + a.text)

title = soup.find_all('div', class_='content_title')
news_title = title[0].a.text
    
print(news_title)

content = soup.find_all('div', class_='article_teaser_body')
news_p = content[0].text
print(news_p)

Curiosity on the Move Again
NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.

In [5]:
#url = 'https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA21723'
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
article = soup.find('article', class_='carousel_item')
href = article['style'].replace("background-image: url('","").replace("');","").strip()
#href = article['style']
#fig = soup.find('figure', class_='lede')
#link = fig.find('a')
#href = link['href']
#img = div.find('img')
#link = img['src']
url = 'https://www.jpl.nasa.gov'
featured_image_url  = url +  href

print(featured_image_url )

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17761-1920x1200.jpg

In [7]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

div = soup.find_all('div', class_='js-tweet-text-container')
para = div[0].find('p')


mars_weather = para.text
print(mars_weather)

Sol 2223 (2018-11-07), high 2C/35F, low -64C/-83F, pressure at 8.50 hPa, daylight 06:18-18:35

In [8]:
import pandas as pd

url = "http://space-facts.com/mars/"
tables = pd.read_html(url)

tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
df = tables[0]
df.columns = ['Profile', 'Value']
df['Profile'] = df['Profile'].str.replace(":", "")
df

               Profile                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.42 x 10^23 kg (10.7% Earth)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.52 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                  -153 to 20 Â°C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [10]:
i = 0
dataset = []
while i < len(df):
    datarow = {}
    datarow['Profile'] = df['Profile'][i]
    datarow['Value'] = df['Value'][i]
    dataset.append(datarow)
    i += 1

dataset

[{'Profile': 'Equatorial Diameter', 'Value': '6,792 km'},
 {'Profile': 'Polar Diameter', 'Value': '6,752 km'},
 {'Profile': 'Mass', 'Value': '6.42 x 10^23 kg (10.7% Earth)'},
 {'Profile': 'Moons', 'Value': '2 (Phobos & Deimos)'},
 {'Profile': 'Orbit Distance', 'Value': '227,943,824 km (1.52 AU)'},
 {'Profile': 'Orbit Period', 'Value': '687 days (1.9 years)'},
 {'Profile': 'Surface Temperature', 'Value': '-153 to 20 Â°C'},
 {'Profile': 'First Record', 'Value': '2nd millennium BC'},
 {'Profile': 'Recorded By', 'Value': 'Egyptian astronomers'}]

In [11]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Profile</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Profile</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [13]:
df.to_html('mars_profile.html')

In [15]:
    url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    div = soup.find_all('div', class_='description')
    links = []
    targeturl = 'https://astrogeology.usgs.gov'
    for d in div:
        h = d.find('a')
        link = targeturl + h['href']
        links.append(link)
    #print(link)

    hemisphere_image_urls = []

    img_url = {}

    for x in range(4):
        dict = {}

        browser.visit(links[x])
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
    
        h2 = soup.find('h2', class_='title')
        div = soup.find('div', class_='downloads')
        img_urls = div.find_all('a')

        dict['title']= h2.text.replace('Enhanced', '')
        dict['img_url'] = img_urls[0]['href']
        hemisphere_image_urls.append(dict)


    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]